@import "../../theme/globals.scss";

.projects-container {
  margin: auto;

  ion-row {
    min-height: 75px;
  }

  ion-img,
  img {
    overflow: hidden;
    height: 75px;
    width: 75px;
    margin-left: -5px;
    padding: 0px 0px 0px 0px;
  }

  @media only screen and (min-width: $breakpoint-md) {
    .img-extended {
      width: 200px;
    }
  }

  .project-card {
    top: 0;
    transition: top ease 0.25s;
    background: var(--cards-color);
  }

  /* breakpoint = ionic sm */
  @media only screen and (min-width: $breakpoint-sm) {
    .project-card {
      height: 210px;
    }
  }

  @media (hover: hover) {
    .top:hover {
      top: -5px;
    }
    .bottom:hover {
      top: 5px;
    }
  }

  .project-card-left {
    margin-left: 0px;
  }

  .project-card-right {
    margin-right: 0px;
  }

  // .project-card-middle {
  //   padding-top: 5px;
  // }

  /* breakpoint = ionic sm */
  @media only screen and (max-width: $breakpoint-sm) {
    .project-card {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .header {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .header::-webkit-scrollbar {
    display: none;
  }

  .skills {
    margin-left: -2.5px;

    .icon {
      padding: 0 2px 0 0;
      margin: 0;
    }
  }

  .links {
    padding-top: 2.5px;
  }

  .links a {
    font-size: 26px;
    color: #757575;
    padding-right: 10px;
  }

  .card-header {
    padding-bottom: 0;
  }
}
