.about-container {
  margin: auto;

  .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    height: 225px;
    margin-bottom: 10px;
    object-fit: contain;

    box-shadow: 5px 5px 5px #252736;
    -moz-box-shadow: 5px 5px 5px #252736;
    -webkit-box-shadow: 5px 5px 5px #252736;

    transition: margin-top ease 0.25s;
  }

  @media (hover: hover) {
    .avatar:hover {
      margin-top: -10px;
    }
  }

  .text {
    float: left;
    color: var(--text-color-primary);
    white-space: pre-wrap;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .skills {
    text-align: center;

    .icon {
      padding: 0 2px 0 0;
      margin: 0;
    }
  }

  h1,
  h2 {
    line-height: 1;
    color: var(--text-color-secondary);
    vertical-align: center;
    padding-bottom: 5px;
  }

  .favorite-skills {
    .skill-card {
      top: 0;
      margin-top: 0px;
      background: var(--cards-color);
      transition: top ease 0.25s;

      img,
      ion-img {
        padding: 10px;
        width: 125px;
        height: 125px;
        margin: auto;
      }
    }

    .no-margin-left {
      margin-left: 0;
    }

    .no-margin-middle {
      margin-left: 4.5px;
      margin-right: 4.5px;
    }

    .no-margin-right {
      margin-right: 0;
    }
  }

  @media (hover: hover) {
    .skill-card:hover {
      top: -5px;
    }
  }
}
