.main-page {
  --ion-background-color: #10111f;
}

.spacing {
  padding: 1em;
}

.page-container {
  margin: 1.5em;
}

@media only screen and (min-width: 1200px) {
  .page-container {
    margin: auto;
    width: 60%;
  }

  .spacing {
    padding: 2em;
  }
}
