.about-container {
  margin: auto;
}

.about-container .avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 225px;
  height: 225px;
  margin-bottom: 10px;
  object-fit: contain;

  box-shadow: 5px 5px 5px #252736;
  -moz-box-shadow: 5px 5px 5px #252736;
  -webkit-box-shadow: 5px 5px 5px #252736;
}

.about-container .text {
  float: left;
  color: #bcc2d1;
  white-space: pre-wrap;
}

.about-container .reverse {
  flex-direction: row-reverse;
}

.about-container .skills {
  text-align: center;
}
