.projects-container {
  margin: auto;
}

.projects-container ion-img,
img {
  max-height: 200px;
  object-fit: contain;
  overflow: hidden;
}

.projects-container .project-card {
  top: 0;
  transition: top ease 0.25s;
  background: #efefef;
  height: 375px;
}

@media (hover: hover) {
  .projects-container .top:hover {
    top: -10px;
  }
  .projects-container .bottom:hover {
    top: 10px;
  }
}

.projects-container .project-card-left {
  margin-left: 0px;
}
.projects-container .project-card-right {
  margin-right: 0px;
}
.projects-container .project-card-middle {
  padding-top: 5px;
}

/* breakpoint = ionic sm */
@media only screen and (max-width: 576px) {
  .projects-container .project-card {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.projects-container .content-container {
  position: absolute;
  top: 315px;
}

.projects-container .header {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projects-container .header::-webkit-scrollbar {
  display: none;
}

.projects-container .skills {
  margin-left: -5px;
  white-space: nowrap;
}
