.introduction-container h1 {
  font-size: 72px;
  color: #c5cce0;
}

.introduction-container h2 {
  font-size: 20px;
  color: #bcc2d1;
  margin-top: -5px;
  padding-bottom: 15px;
}

.introduction-container h3 {
  letter-spacing: 2.5px;
  /* font-family: "Roboto Mono"; */
  font-size: 18px;
  color: #4c8dff;
}

.introduction-container p {
  font-size: 16px;
  line-height: 22px;
  color: #bcc2d1;
}

@media only screen and (min-width: 576px) {
  .introduction-container .description {
    width: 50%;
  }
}
